header {
    background: var(--blue);

}

.center_header {
    max-width: 1100px;
    margin: auto;

    padding: 10px;

    display: flex;
    justify-content: center;
}

.nav_header  {
    width: 300px;

    display: flex;
    justify-content: space-between;
}